node_modules/

.env
.env.local

*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/google-services.json

dist/
coverage/
